ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://+:8080
ConnectionStrings__DefaultConnection=Host=db;Port=5432;Database=drivetrace;Username=drivetrace;Password=drivetrace
Database__EnsureCreated=true
Database__SeedDemoData=true
Fiware__OrionLdBaseUrl=http://orion:1026/ngsi-ld/v1
Fiware__ContextUrl=https://uri.drivolution.local/context.jsonld
